:root{
    --blanco:#ffffff; 
    --oscuro:#03053a;
    --primario:#187e29;
    --secundario:#0077b6;
    --gris:#b1b5b9;
    --tamaño-fuente: 16px;
}


html{
    font-size: 62.5%;
}

body{
    font-size: var(--tamaño-fuente);
    font-family:"Roboto", sans-serif;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.6rem;
}

h1,h2,h3{
    text-align: center;
}

/*utilidades*/
.contenedor{
    width: 75%;
    margin: 0 auto;
}

.bg-secundario{
    background-color: var(--primario);    
}

.boton{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 480px) {
    .boton{
        width: auto;
    }
    
}

.titulo{
    color: var(--secundario);
    font-size: 3.8 rem;
    text-align: center;
}
.titulo span{
    color: var(--primario);
    font-size: 2rem;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:var(--primario);
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}

.navegacion-principal a{
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--secundario);
    color: var(--oscuro);
}

/*estilos para el hero*/
.hero{
    background-image: url("../img/hero2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.contenido-hero{
    background-color: rgba(0,0,0,0.6);
    background-color: rgba(0 0 0 / 60%);
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacion{
    display: flex;
    justify-content: center;
}